:root {
    --font-family: "DM Sans", sans-serif;
}

h1 {
    --font-family: "Cormorant", serif;
    font-size: calc(var(--font-size) * 1.3);
}

h2,
h3,
h4,
h5,
h6 {
    --font-family: "Cormorant", serif;
}
