<!doctype html>
<html
    lang="{%if page.language %}{{page.language}}{% else %}{{site.language}}{%endif%}"
>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ site.title }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
        />
        <link rel="stylesheet" href="/assets/css/theme.css" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>

    <body>
        {{ content }}

        <footer class="container">
            <hr />
            <div class="grid">
                <p>
                    {{ site.author }} <br />
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </footer>
    </body>
</html>
