---
layout: default
---

<main class="container">
    <article class="hero">
        <hgroup>
            <small style="font-">
                <a href="/photography">
                    &#8249; Erik Wittek: Analoge Fotografie — urban und
                    unterwegs
                </a>
            </small>
            <h1>{{page.title}}</h1>
            {{content}}
        </hgroup>

        <section>
            {% for photos in page.photos %}
            <div class="grid">
                {% for photo in photos %}
                <div class="go-big" id="{{photo}}">
                    <a href="{{url}}" class="go-home">&times;</a>
                    <a href="#{{photo}}">
                        <div class="image-container">
                            <img
                                loading="lazy"
                                srcset="
                                    /assets/images/{{page.slug}}/mobile/{{photo}}.webp   320w,
                                    /assets/images/{{page.slug}}/tablet/{{photo}}.webp   768w,
                                    /assets/images/{{page.slug}}/desktop/{{photo}}.webp  960w,
                                    /assets/images/{{page.slug}}/monitor/{{photo}}.webp 1200w
                                "
                                sizes="(width <= 992px) 100vw, (width <= 1200px) 75vw, 1130px"
                            />
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
    </article>
</main>
