---
layout: default
---

<main class="container">
    <article class="hero">
        <hgroup>
            <h1>{{page.title}}</h1>
            {{content}}
        </hgroup>

        <section>
            {% for photos in page.photos %}
            <div class="grid" style="padding-bottom: var(--spacing)">
                {% for photo in photos %}
                <div class="go-big" id="{{photo}}">
                    <a href="{{url}}" class="go-home">&times;</a>
                    <a href="#{{photo}}">
                        <div class="image-container">
                            <img src="/assets/images/{{page.slug}}/{{photo}}" />
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
    </article>
</main>
